<h2>New Case</h2>
<hr/>

<%= simple_form_for [:admin, :ticketing, @case] do |f| %>

  <%= render 'admin/shared/error_messages', object: f.object %>

  <%= f.association :case_queue %>
  <%= f.association :assignee %>
  <%= f.input :name %>
  <%= f.input :user_id, label: 'User ID' %>
  <%= f.input :received_via, collection: [:web, :email, :phone, :other] %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.input :priority, collection: [:low, :normal, :high] %>
  <%= f.input :status, collection: [:new, :open, :closed] %>
  <%= f.input :subject %>
  <%= f.input :description, input_html: {rows: 6} %>

  <%= button_tag "Save changes", :class => "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..."} %>

<% end %>


<% content_for :breadcrumbs do %>
  <li><a href="#">Ticketing</a></li>
  <li><%= link_to "Queues", admin_ticketing_case_queues_path %></li>
  <li><%= link_to @case.case_queue.name, admin_ticketing_cases_path(case_queue_id: @case.case_queue_id) %></li>
  <li><%= @case.persisted? ? @case.id.to_s : 'new' %></li>
<% end %>