<h2>
	<%= link_to "new case", new_admin_ticketing_case_path(queue_id: params[:queue_id]), class: 'btn btn-sm btn-default pull-right'%>
    <%= q = CaseQueue.find(params[:queue_id]) unless params[:queue_id].nil? %>
  Cases
</h2>

<table class="table table-striped table-condensed">
	<tr>
    <th>ID</th>
    <th>Status</th>
    <th>Priority</th>
		<th>From</th>
		<th>Subject</th>
		<th>Assigned to</th>
		<th>Last update</th>

		<th>&nbsp;</th>
	</tr>
	<% @cases.each do |c| %>
	<tr>
		<td><%= link_to c.id, admin_ticketing_case_path(c) %></td>
    <td><%= case_status_indicator c %></td>
    <td><%= case_priority_indicator c %></td>
    <td>
          <% if c.user_id %>
            <%= link_to c.user.name, admin_system_user_path(c.user_id) %>
          <% else %>
            <%= c.email || c.phone %>
          <% end %>
    </td>
		<td>
      <%= c.subject %> 
      <% if c.attachments > 0 %>
        <i class="fa fa-paperclip"></i>
      <% end %>
    </td>
		<td><% unless c.assigned_to.nil? %>
			<%= link_to c.assignee.name, admin_system_user_path(c.assigned_to) %>
			<% else %>
			- none -
			<% end%>
		</td>
		<td><%= systime c.updated_at %></td>
		<td>
			<%= link_to "edit", edit_admin_ticketing_case_path(c) %> &nbsp;
			<%= link_to "delete", 
						  { action: "destroy", id: c.id }, 
						  method: :delete, 
						  data: { confirm: "Are you sure?" } %>
		</td>
	</tr>
	<% end %>
</table>

<% content_for :title do %>
	Cases: <%= %>
<% end %>


<% content_for :menu do
    render "admin/shared/ticketing_menu"
end %>

<% content_for :breadcrumbs do %>
	<li><a href="#">Ticketing</a></li>
	<li><%= link_to "Queues", admin_ticketing_case_queues_path %></li>
    <% if q %>
        <li class="active"><%= q.name %></li>
    <% else %>
        Cases
    <% end %>
<% end %>
