<% msg = Mail.new(@case.raw_data) %>
<h2>
  <div class="pull-right">
    <%= case_status_indicator(@case) %> 
    <%= case_priority_indicator(@case)%>
  </div>
  Case #<%= @case.id %></h2>
<b>Submitted: </b> <%= time_ago_in_words(@case.created_at) %> ago

<table class="table summary table-condensed table-bordered">
  <tr>
    <td class="col-md-3">Assigned to</td>
    <td><%= link_to @case.assignee, admin_system_user_path(@case.assignee) %></td>
  </tr>
  <tr>
    <td>Received</td>
    <td><%= systime @case.created_at %></td>
  </tr>
  <tr>
    <td>Via</td>
    <td>
      <%= @case.received_via %> 
      <%= link_to "raw data", raw_data_admin_ticketing_case_path(@case), class: "small" %>
    </td>
  </tr>
</table>

<table class="table summary table-condensed table-bordered">
  <tr>
    <td class="col-md-3">Customer</td>
    <td>
      <% if @case.user_id %>
        <%= link_to @case.user.name %>
      <% else %>
        <%= @case.name %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @case.email %></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td>
      <% unless @case.phone.blank? %>
        <%= @case.phone %>
      <% else %>
        <span class="light">- unknown -</span>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Subject</td>
    <td><%= @case.subject %></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%= @case.description.gsub("\n", "<br>").html_safe %></td>
  </tr>
  <% if @case.attachments > 0 %>
  <tr>
    <td>Attachments</td>
    <td>
      <% msg.attachments.each do |attachment| %>
        <%= link_to attachment.filename, attachment_admin_ticketing_case_path(id: @case.id, filename: attachment.filename) %> &nbsp;  
      <% end%>
    </td>
  </tr>
  <% end %>
</table>

<% @case.updates.each do |update| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">
      <pre><%= update.inspect %></pre>
    </div>
  </div>
<% end %>

<% case_update = CaseUpdate.new(case_id: @case.id, user_id: current_user.id) %>
<%= simple_form_for [:admin, :ticketing, case_update ], html: { class: 'form-inline hidden' } do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :case_id %>
  <%= f.input :response %>
  <%= f.input :private_note %>
  <%= f.input :new_state, collection: Case.valid_states %>
  <%= f.input :new_priority, collection: Case.valid_priorities %>
  <%= f.input :new_assignee, collection: User.all %>
  <%= f.submit %>
<% end %>
  


<% content_for :title do %>
  Case #<%= @case.id %>
<% end %>

<% content_for :breadcrumbs do %>
	<li><a href="#">Ticketing</a></li>
	<li><%= link_to "Queues", admin_ticketing_case_queues_path %></li>
  <li><%= link_to @case.case_queue.name, admin_ticketing_cases_path(case_queue_id: @case.case_queue_id) %></li>
  <li>Case #<%= @case.id %></li>
<% end %>